.form-container {
  width: 100%;
  display: grid;
  gap: 35px;
}

/* Headline */

.headline-form {
  width: 100%;
  display: grid;
  gap: 8px;
}

/* SearchBar */

.search-form {
  width: 100%;
  max-width: 377px;
  height: 49px;
}

.search-bar-form {
  width: 100%;
  height: 100%;
  border: 1px solid var(--main-bg-color);
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.location-icon {
  min-width: 50px;
  height: 100%;
  border-radius: 15px 0 0 15px;
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.location-icon svg {
  width: 14px;
  height: 18px;
  fill: black;
}

.search-bar-form input,
.search-bar-form button {
  font-weight: 700;
  font-size: 18px;
}

.search-bar-form input {
  width: 147px;
  height: 21px;
  border-style: none;
  color: black;
  background-color: transparent;
  text-align: center;
}

.search-bar-form input::placeholder {
  color: black;
  opacity: 1; /* pour mozilla */
}

.search-bar-form input:focus {
  outline: none;
}

.search-bar-form input:focus::placeholder {
  color: transparent;
}

.search-bar-form button {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 49px;
  max-width: 132px;
  padding: 15px 16px;
  color: white;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 0 15px 15px 0;
  cursor: pointer;
}

.search-bar-form button svg {
  display: none; /* Cache le SVG par défaut */
  fill: white;
  width: 17px;
  height: 17px;
}

/* FilterBar */

.filter-form {
  display: flex;
  align-items: center;
  font-weight: 700;
  gap: 15px;
}

.filter-title p {
  font-size: 18px;
}

.filters-container {
  height: 100%;
  display: flex;
  gap: 15px;
}

.filter {
  height: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 25px;
  border: 2px solid #d9d9d9;
  padding: 4px 19px;
  transition: background-color 0.3s ease;
}

.filter-icon {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter p {
  font-size: 17px;
  white-space: nowrap;
}

.filter:hover {
  background-color: var(--filter-bg-color);
}

/* InfoBar */

.info-bar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-info {
  min-width: 24px;
  height: 24px;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
}

.logo-info i {
  width: 100%;
  height: 100%;
  font-size: 10px;
  position: relative;
}

.logo-info i::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */

@media (max-width: 1024px) {
  .filter-form {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .filter p {
    font-size: 16px;
  }
}

/* ****** Small devices (phones, less than 768px) *******************/

@media (max-width: 767.98px) {
  .form-container {
    max-width: 100vw;
    padding: 0 20px;
  }

  /* SearchBar */

  .search-form {
    width: 100%;
    max-width: 377px;
    margin-inline: auto;
  }

  .search-bar-form input {
    position: absolute;
    content: "";
    left: 74px;
  }

  .search-bar-form button {
    border-radius: 15px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .search-bar-form button span {
    display: none;
  }
  .search-bar-form button svg {
    display: block;
  }

  /* FilterBar */

  .filters-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    max-width: 500px;
    margin-inline: auto;
    gap: 20px 10px;
  }

  .filter {
    width: 100%;
  }

  .filter p {
    font-size: 14px;
  }
}

@media (max-width: 370px) {
  .filters-container {
    grid-template-columns: 1fr;
  }
}